/* Header Styles */
.header {
    -fx-background-color: #F5F7F8;
}

.header_label_holder {
    -fx-background-color: #F5F7F8;
    -fx-spacing: 60;
    -fx-alignment: center_right;
}

.nav_labels {
    -fx-font-size: 25;
    -fx-font-family: Inter;
    -fx-text-fill: #17252A;
    -fx-background-color: #F5F7F8;
}

.nav_labels:hover {
    -fx-text-fill: #2B7A78;
    -fx-underline: true;
}

.logout_btn {
    -fx-pref-width: 110;
    -fx-pref-height: 45;
    -fx-background-color: #2B7A78;
    -fx-background-radius: 5;
    -fx-border-color: #2B7A78;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-text-fill: #F5F7F8;
    -fx-font-family: Inter;
    -fx-font-size: 18;
}

.logout_btn:hover{
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-background-color: linear-gradient(to right, #2B7A78, #3AAFA9);
    -fx-border-color: linear-gradient(to right, #2B7A78, #3AAFA9);
    -fx-cursor: hand;
}

.logout_btn FontAwesomeIconView {
    -fx-fill: #F5F7F8;
}