/* Center Box Styles */
.center_box {
    -fx-background-color: #F5F7F8;
}

/* Welcome Text Styles */
.welcome_text_holder {
    -fx-background-color: #F5F7F8;
}

.welcome_text_holder Text {
    -fx-text-fill: #17252A;
    -fx-font-size: 16;
    -fx-font-family: Inter;
}

#welcome_title {
    -fx-font-size: 45;
    -fx-font-weight: bold;
}

.home_page_nav {
    -fx-background-color: #F5F7F8;
    -fx-spacing: 50;
    -fx-alignment: center;
}

.home_page_nav Button {
    -fx-border-color: #17252A;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-focus-traversable: false;
    -fx-background-color: #F5F7F8;
    -fx-background-radius: 20;
    -fx-pref-width: 550;
    -fx-pref-height: 125;
    -fx-text-fill: #17252A;
    -fx-font-family: Inter;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 20;
}

.home_page_nav Button:hover {
    -fx-text-fill: #2B7A78;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-cursor: hand;
}

#profile_btn {
    -fx-background-color: #17252A;
    -fx-border-color: #17252A;
    -fx-border-width: 3;
    -fx-text-fill: #F5F7F8;
    -fx-border-radius: 20;
}

#profile_btn:hover {
    -fx-text-fill: #2B7A78;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-cursor: hand;
}

#profile_btn FontAwesomeIconView {
    -fx-fill: #F5F7F8;
}
